/*-------------Variables---------------*/

:root {
    --light-bg-color: #685752;
    --dark-bg-color: #4B352A;
    --heading-color: #f4e4c1;
    --accent-color-1: #e0d0a0;
    --accent-color-2: #1e140f;
}

/*-------------------------------------*/

/*--------Adjusting Containers---------*/
body { 

    /* This code edits the background 
        and sets stage and position 
        for the rest of the content*/

    background-image: radial-gradient(circle at 50% 150%, var(--light-bg-color), var(--dark-bg-color));
    border: 1px solid var(--accent-color-2);
    margin: 0;
    padding: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    /*To ensure no scrollbars appear*/
    overflow: hidden; 
    box-sizing: border-box;
    
}


.landing-page { 
    /*To align contents to 
    center amongst eachother*/
    text-align: center; 
}

/*-------------------------------------*/

/*-----------Adjusting text------------*/

h1 {
    color: var(--heading-color);
    text-align: center;
    font-family: "Courier New", monospace;
    font-weight: 100px;
    font-size: 2.5em;
    cursor: default;
}



a {
    color: var(--accent-color-1);
    font-size: 1em;
    font-family: "Segoe Script", cursive;
    text-decoration: none;
}

a:hover {
    transform: translate(50%,50%);
    text-shadow: var(--accent-color-2) 0 0 5px;
    transition: ease-in-out 0.3s;
}


/*-------------------------------------*/
