/*-------------Variables---------------*/

:root {
    --light-bg-color: #7e6a64;
    --dark-bg-color: #755341;
}

/*-------------------------------------*/

/* ------------------ Reset & Body ------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(circle at 50% 150%, var(--light-bg-color), var(--dark-bg-color));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    font-family: sans-serif;
}

/* ------------------ Pocket (Printer Slot) ------------------ */
.circle-pocket {
    width: 220px;
    height: 220px;
    border-radius: 20%;
    background: #514440;
    border: 5px groove #353433;
    box-shadow:
        inset 2px 2px 5px rgba(0,0,0,0.3),
        inset -2px -2px 5px rgba(255,255,255,0.3),
        3px 3px 10px rgba(0,0,0,0.4);
    position: relative;
    cursor: pointer;
    z-index: 1;
    overflow: hidden; /* This hides the top half of the strip */

    cursor: default;
}

/* ------------------ Strip Wrapper ------------------ */
.strip-wrapper {
    position: absolute;
    left: 50%;
    top: 50%; /* Position so half is inside, half is outside */
    transform: translateX(-50%);
    z-index: 0;

    cursor: default;
}

.strip-wrapper:hover {
    translate: 0 -100px; /* Move up to simulate printing */
    transition: translate 2s ease-in-out;
}

/* ------------------ Canvas / Strip ------------------ */
.strip {
    display: block;
    width: 100%;
    height: auto;
    max-height: 80vh;
}

/* ------------------ Download Button ------------------ */
#download-button {
    opacity: 1; /* Always visible */
    pointer-events: auto; /* Always clickable */
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #353433;
    color: #f4e4c1;
    cursor: pointer;
    margin-top: 20px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #f4e4c1;
}

#download-button:hover {
    background: #EBE1D1;
    color: #353433;
    font-family: 'Courier New', Courier, monospace;
    transition: background 0.3s ease-in-out;

}